body {
    background-image: url('../images/Background.jpg') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: white;
}

.tableHeader{
    color: white;
    background-color: gray;
    /* background-color: darkslategray; */
}

.noUnderline {
    text-decoration: none;
    color: black;
} 

.mainNavigation {
    display: block;
    height: 100%;
    width: 22%;
    float: left;
    text-decoration: none;
    text-align: center;
}

.mainNavigationLink{
    text-decoration: none;
    color: white;
    height: 100%;
    line-height: 100px;
    font-size: 20px;
}

.label{
   line-height: 50px;
}

.button  {
    background-color: white;
}

.button:hover {     
    background-color:gray;    
}

/* .button:focus {     
    background-color:rgb(160, 17, 25);    
} */